

body {
    margin: 0;
    padding: 0;
  

}


/* ******************************************************INDEX**************************************** */




/* *********************************************************INSCRIPTION**************************************** */







/* *********************************************FOOTER******************************************* */

footer
 {
display: flex;
justify-content: end;
height: 9%;
background-color: blueviolet;

}



/* ************************************************nav************************************** */

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(179, 248, 165);
  
}
 



.listindex {
  display: flex;
  gap: 5vh;
}

ul
{
  list-style: none;
