

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
  

}


/* ******************************************************INDEX**************************************** */

.presentation 
{
text-transform: uppercase;
box-shadow: 0 5px 50px grey;
width: 25%;
top: 100%;
left:30%;
right: 30%;
margin: auto;
transform: translate(-50% -50%);
padding: 30px;
background: #fff;
box-sizing: border-box;
border-radius: 10px;
box-shadow: 0 15px 50px rgba(0, 0, -4, 0.623);

}

.titre 
{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}


/* *********************************************************INSCRIPTION**************************************** */

.inscription 
{
  text-transform: uppercase;
  text-align: center;
}
#bas 
{
margin: 0;
 display: flex;
 justify-content: center;

}




/* *********************************************FOOTER******************************************* */

footer
 {
display: flex;
justify-content: end;
background-color: blueviolet;
margin-top: 40%;

}



/* ************************************************nav************************************** */

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(179, 248, 165);
  
}
 



.listindex {
  display: flex;
  gap: 5vh;
}

ul
{
  list-style: none;

}

  /* ***************************************EDITION******************************************* */

  .profil_tab 
  {
    
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
  }

  /* ******************************profil********************************************************* */


  .text_profil 
  {
    top: 100%;
    left:30%;
    right: 30%;
    margin: auto;
    transform: translate(-50% -50%);
    width: 600px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, -4, 0.623);
  }