body {
    margin: 0;
    padding: 0;
}


/* ******************************************************INDEX**************************************** */

nav {
    display: flex;
    justify-content: space-between;

}

.listindex {
    display: flex;
   
    gap: 5vh;
}

ul{
    list-style: none;
}

/* *********************************************************INSCRIPTION**************************************** */

form#bas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0em;
    background-color: blueviolet;
}



/* *********************************************FOOTER******************************************* */


